# dependencies
node_modules
*.pnp
*.pnp.js

# testing
coverage

# production
dist

# misc
.DS_Store
*.pem

# debug
*.pnpm-debug.log*

# local env files
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# vercel
.vercel

# typescript
dist/
.cache

# turbo 
*.turbo

# expo
.expo/
expo-env.d.ts
apps/mobile/.gitignore
apps/mobile/ios
apps/mobile/android

# android studio
.idea
